
body {
  margin:0;
  padding: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
/*navbar*/
a {
  text-decoration: none;
  color: rgb(52, 133, 226);
}

nav {
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  width: 100%;
  background-color: #181818 ;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999; }

.navlinks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  padding: 12px;
}

.navicon {
  margin-left: 25px;

}

.navlink {
  margin-inline: 15px;
  color: #d1d1d1;
}
.navlink:hover {
  color: whitesmoke;
}
.responsivediv {
  display: flex;
  
}

.respnavbar {
  display: none;
}

.applelogo {
  color: #d1d1d1;
  margin-inline: 25px;
  margin-top: -0.7rem;
}

#bag-icon,#search-icon{
  color: #d1d1d1;
  margin-top: -0.7rem;

}

.applelogo:hover{
  color: white;
}
#bag-icon:hover,#search-icon:hover{
  color: white;
}
.applelogo path,
.search-icon path,
.bag-icon path{
  transition: fill 0.5s ease;
}

.apple-icon:hover path,
.search-icon:hover path,
.bag-icon:hover path {
  fill: white;
}
#menu {
  cursor: pointer;
  transition: fill 0.5s ease;
}
#menu:hover path {
  fill: white;
}


/*below nav bar box*/
.below-nav{
  background-color: #1d1d1f;
  color: white;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.below-navtext{
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.link3 {
  color: #0071e3;
}

.link3:hover {
  text-decoration: underline;
}

.below-nav a {
  color: white;
  text-decoration: none;
}

.below-nav a:hover {
  color: #0071e3;
}


/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 3.2rem 2.4rem;
  position: relative;
}

.hero-container {
  height: 477px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hero-banner img {
  position: absolute;
  top: -51.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: auto;
  height: 572px;
}

.hero-text {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 3.2rem;
  letter-spacing: 0.002em;
  line-height: 1.125;
  font-weight: 600;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-text p {
  font-size: 26.5px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 19.5rem;
}

.hero-buttons button {
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem 1.2rem;
  color: #fff;
  background-color: #0071e3;
  border-radius: 1.6rem;
  transition: 0.3s;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons .learn-more:hover {
  background-color: #0160c0;
  cursor: pointer;
}

.hero-buttons .buy-now {
  color: #0071e3;
  background: none;
  border: 1px solid #0071e3;
}

.hero-buttons .buy-now:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

.ptag {
  color: #69666a;
  font-size: 16px !important;
}



/* HERO2& hero3 */
.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 3.2rem 2.4rem;
  position: relative;
}

.hero-container2 {
  height: 477px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hero-banner2 img {
  position: absolute;
  top: -51.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: auto;
  height: 572px;
}

.hero-text2 {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-text2 h1 {
  font-size: 3.2rem;
  letter-spacing: 0.002em;
  line-height: 1.125;
  font-weight: 600;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-text2 p {
  font-size: 26.5px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 19.5rem;
}

.hero-buttons2 button {
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem 1.2rem;
  color: #fff;
  background-color: #0071e3;
  border-radius: 1.6rem;
  transition: 0.3s;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons2 .learn-more2:hover {
  background-color: #0160c0;
  cursor: pointer;
}

.hero-buttons2 .buy-now2 {
  color: #0071e3;
  background: none;
  border: 1px solid #0071e3;
}

.hero-buttons2 .buy-now2:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

.ptag2 {
  color: #69666a;
  font-size: 16px !important;
}

.hero3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 3.2rem 2.4rem;
  position: relative;
}

.hero-container3 {
  height: 477px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hero-banner3 img {
  position: absolute;
  top: -51.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: auto;
  height: 572px;
}

.hero-text3 {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-text3 h1 {
  font-size: 3.2rem;
  letter-spacing: 0.002em;
  line-height: 1.125;
  font-weight: 600;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-text3 p {
  font-size: 26.5px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons3 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 19.5rem;
}

.hero-buttons3 button {
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem 1.2rem;
  color: #fff;
  background-color: #0071e3;
  border-radius: 1.6rem;
  transition: 0.3s;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-buttons3 .learn-more3:hover {
  background-color: #0160c0;
  cursor: pointer;
}

.hero-buttons3 .buy-now3 {
  color: #0071e3;
  background: none;
  border: 1px solid #0071e3;
}

.hero-buttons3 .buy-now3:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}

.ptag3 {
  color: #69666a;
  font-size: 16px !important;
}
/* products */
.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  padding: 20px;
  cursor: pointer;
}


.product-item {
  position: relative;
  width: 100%;
  height: auto;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.product-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white; 
  z-index: 2; 
}
.product-6 .product-content {
  position: absolute;
  top: 10%; /* Adjust the value as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 2;
}

.product-text {
  font-size: 30px;
  font-weight: bold;
  margin-top: -15rem;
}

.product-para {
  font-size: 18px;
  margin-bottom: 10px;
}

button.primary {
  margin-bottom: 1rem;
  border: none;
  padding:5px 10px;
  color: #fff;
  background-color: #0071e3;
  border-radius: 30px;
  transition: 0.3s;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 1rem;
}
.product-content{
  margin-bottom: 20rem;
  color: black;
}

button.secondary{
  margin-bottom: 1rem;
  border: none;
  padding: 0.8rem 1.2rem;
  color: #fff;
  background-color: #0071e3;
  border-radius: 1.6rem;
  transition: 0.3s;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-group .primary:hover {
  background-color: #0160c0;
  cursor: pointer;
}

.btn-group .secondary {
  color: #0071e3;
  background:none;
  border: 1px solid #0071e3;
}

.btn-group .secondary:hover {
  background-color: #0071e3;
  color: white;
  cursor: pointer;
}


/* Slideshow Section  */

.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: visible;  /* Allow images to overflow on left and right */
  display: flex;
  justify-content: center;
}

/* Carousel Track */
.carousel-track {
  display: flex;
  will-change: transform;
  position: relative;
  transform: translateX(-10%); 
  width: calc(100% + 20px); 
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.carousel-slide.clone {
  opacity: 0.5; 
  filter: brightness(0.7);
}

/* Carousel Slide */
.carousel-slide {
  min-width: calc(100% - 10px); 
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
  opacity: 0.5; 
  filter: brightness(0.7);
  margin: 0 5px; 
}


/* Images */
.carousel-slide img {
  width: 100%; 
  height: 100%; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Ensure the image fully covers the container without being cut off */
  object-position: center center; /* Ensure the image is centered */
}

/* Active Slide */
.carousel-slide.active {
  opacity: 1;
  filter: brightness(1); /* Restore brightness */
  transform: scale(1); /* No zoom effect */
}

/* Ensure smooth visibility for neighboring slides */
.carousel-slide:not(.active) {
  transform: scale(1); /* Keep non-active slides in normal size */
}



/*footer*/
/* Footer Container */
.footer {
  margin-top: 3rem;
  background-color: #f5f5f7;
  padding:20px 15rem 0px 15rem;/*trbl*/
  color: #333;
  font-family: Arial, sans-serif;

  width: 100%;
}

/* Footer Section h6 content */
.footer-content h6 {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  width: 100%;
  margin: 0 auto; /* Center the h6 */
  padding: 0 20px; /* Add padding to give space on the left and right */
  text-align: justify; /* Justify text for a continuous look */
}
.footer-columns{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px; 
  margin-bottom: 30px;

}

.footer-list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.footer-list a {
  font-size: 13px;
  text-decoration: none;
  color: #616161;
  transition: color 0.3s, text-decoration 0.3s; 
}

/* Footer List - On hover, change color and add underline */
.footer-list a:hover {
  text-decoration: underline; /* Add underline on hover */
}
h6{
  color: rgb(101, 101, 101);
  font-size: 12px;
}
.list a {
  font-weight: 200;
  text-decoration: none;
  color: #616161;
  transition: color 0.3s, text-decoration 0.3s; 
}

/* Footer List - On hover, change color and add underline */
.list a:hover {
  text-decoration: underline;  /* Adds underline on hover */
  color: #616161;  /* Changes color on hover */
}




/*small desktop-below 1350px*/
/* landscape tablets-below 1200px */
/* tablets-below 940px*/
/*small tablets-below 700px*/
/*phone-below 550px*/
/* Media Query for small desktops and below */
